:root {
    --pink: #f14e95;
    --pink-muted: #fdf4f8;
    --pink-hover: #d84686;
    --white: #fff;
    --grey: #ccc;
    --light-grey: #d4d4d4;
    --very-light-grey: #eee;
    --dark-grey: #999;
    --dark: #151515;
    --black: #000;
    --pink-light:#fcdbe9
}

html {
    scroll-behavior: smooth;
}

/* all class */
* {
    font-family: 'Work Sans', sans-serif;
}

body.transition {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.open {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 3;
    overflow-y: hidden;
    transition: transform 1s ease-in-out;
}

.doors {
    width: 400px;
    height: 500px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.door {
    width: 50%;
    height: 100%;
    position: absolute;
    transform-origin: center left;
    transition: transform 1s, filter 0.5s ;
    overflow: hidden;
}

.door img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.door.left {
    left: 22px;
}

.door.right {
    right: 22px;
    transform-origin: center right;
}

.heading-door {
    position: absolute;
    text-align: center;
    width: 50%;
    font-size: 54px;
    margin: auto;
}

.heading-door.left {
    left: 0;
}

.heading-door.right {
    right: 0;
}
.huruf-sambung {
    font-family: 'sacramento', cursive;
}



/* navbar section */

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* list-style-type: none; */
    list-style-type: none;
    display: flex;
    background-color:var(--pink);
    height: 80px;
    z-index:1;
} 

.nav li {
    flex:1;
}

.nav li a {
    text-decoration:none;
    color: var(--very-light-grey);
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index:1;
    position: relative;
}

.nav li a:hover {
    color: var(--white);
}

.nav li a.nav-item-music {
    transform: translateY(-20%);
    font-size: 30px;
    top: -30px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);    
}

.nav .nav-music {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--dark);
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.nav li a.rotate {
    animation: rotateAnimation 5s linear infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}


/* ===================== HEro section start */
#hero-section h1 {
    font-size: 64px;
}

#hero-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(241, 78, 149, 0.4);
}

#hero-section {
    width: 100%;
    height: 100vh;
    background: url("/assets/img/bg.jpeg");
    background-size: cover;
    position: relative;
    background-position: center;
    z-index: 2;   
}

#hero-section .container {
    position: relative;
}

#hero-section .btn-get-started {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    color: var(--pink);
    background: var(--white);
}

#hero-section .btn-get-started:hover {
    background: var(--pink-hover);
    color: var(--white);
}

.sparkle {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ===================== HEro section end */


/* Home */

.text-pink {
    color: var(--pink);
}

.pembuka-section {
    padding-top: 75px;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
}
.section-title p {
    margin: 15px auto 0 auto;
}

.section-bg {
    background-color: var(--pink-muted);
}

#content-section {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--pink-light);
}

::-webkit-scrollbar-thumb {
    background: var(--pink);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--pink-hover);
}

.card-acara {
    width: calc(50% - 10px);
}

@media(max-width: 992px) {
    .card-acara {
        width: calc(100% - 10px);
    }
}

.btn-pink {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: var(--white);
    background: var(--pink);
}

.btn-pink:hover {
    background: var(--pink-hover);
    color: var(--white);
}

.border-pink {
    border-radius: 15px;
    border: 2px solid var(--pink);
}


.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: 'Sacramento';
  font-size: 5rem;
  font-weight: bold;
}


.home .couple img {
    width: 100%;
  }
  
  .home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
  }
  
  .home .heart i {
    margin: auto;
    color: var(--pink);
  }
  
  .info {
    background-color: var(--bg);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
  }
  
  .info .alamat {
    font-size: 1.1rem;
  }
  
  .info .description {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
  }
  
  .info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  
  .info .card-body {
    font-size: 1rem;
  }
  
  .info .card-footer {
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;
  }
  
  .story,
  .gallery,
  .rsvp,
  .gifts {
    padding-top: 10rem;
    padding-bottom: 8rem;
  }
  
  .story span,
  .gallery span,
  .gifts span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
  }
  
  .story p,
  .gallery p,
  .rsvp p,
  .gifts p {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
  }
  
  .timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
  }
  
  .timeline li {
    margin-bottom: 1.5rem;
    position: relative;
  }
  
  .timeline li::before,
  .timeline li::after {
    content: '';
    display: table;
  }
  
  .timeline li::after {
    clear: both;
  }
  
  .timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
  }
  
  .timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;
  }
  
  .timeline li.timeline-inverted .timeline-panel {
    float: right;
  }
  
  .timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
  
  .gallery {
    background-color: #f5f5f5;
  }
  
  .rsvp {
    background-color: var(--bg);
  }
  
  .rsvp h2 {
    font-size: 4.5rem;
  }
  
  .rsvp p {
    color: white;
  }
  
  .rsvp form label {
    color: white;
  }
  
  .rsvp button {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
  }
  
  .rsvp button:hover {
    background-color: white;
    color: var(--pink);
    border: 1px solid white;
  }
  
  footer {
    padding: 3rem;
    background-color: var(--pink);
    color: white;
  }
  
  footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
  }
  
  footer a:hover {
    color: white;
  }
  
  footer li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
  }
  
  .audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
  }
  
  @keyframes rotating {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Media Query */
  /* Extra large */
  @media (max-width: 1200px) {
    .home .heart {
      transform: translateX(-50%) translateY(45px);
    }
  }
  
  /* laptop */
  @media (max-width: 992px) {
    html {
      font-size: 75%;
    }
  
    .simply-countdown > .simply-section {
      padding: 70px;
    }
  
    .home .heart {
      display: none;
    }
  
    .timeline::before {
      left: 60px;
    }
  
    .timeline li .timeline-image {
      left: 15px;
      margin-left: 45px;
      top: 16px;
    }
  
    .timeline li .timeline-panel {
      width: calc((100% - 200px));
      float: right;
    }
  
    .timeline li .timeline-panel::before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
  
    .timeline li .timeline-panel::after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -13px;
      right: auto;
    }
  }
  
  /* tablet */
  @media (max-width: 768px) {
    html {
      font-size: 65%;
    }
  
    .simply-countdown > .simply-section {
      padding: 60px;
      margin: 5px;
    }
  
    .mynavbar .nav-link {
      font-size: 2rem;
      text-align: center;
    }
  
    .sticky-top {
      overflow: hidden;
    }
  
    .timeline li .timeline-image {
      width: 140px;
      height: 140px;
    }
  }
  
  /* mobile phone */
  @media (max-width: 576px) {
    html {
      font-size: 60%;
    }
  
    .simply-countdown > .simply-section {
      padding: 45px;
      margin: 3px;
    }
  
    .timeline li .timeline-image {
      width: 80px;
      height: 80px;
    }
  
    .timeline li .timeline-panel {
      width: 65%;
      transform: translateX(-20px);
    }
  
    .timeline li .timeline-panel::before {
      top: 30px;
    }
  
    .timeline li .timeline-panel::after {
      top: 31px;
    }
  }